<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.;Database=YouTube-Assets;Integrated Security=true" providerName=".NET Framework Data Provider for SQL Server" />
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=YouTube-Assets ;User ID=ecmuser;Password=123" providerName=".NET Framework Data Provider for SQL Server" />-->
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--This Time Interval to Execte Main Method (Minutes) -->
    <add key="TimeInterval" value="1" />
    <add key="NumberOfReternRecords" value="2" />
    <add key="client_secrets_Path" value="client_secrets.json" />
    <add key="LabelSettingsPath" value="LabelSettings.config" />
    <add key="API_Key" value="AIzaSyBWTvjrezZc4pNTp7oOWHk6n2tVFu_C8N4" />

    <add key="google_apis_Update_assets_URL" value="https://www.googleapis.com/youtube/partner/v1/assets/" />
  </appSettings>
</configuration>