<?xml version="1.0" encoding="utf-8"?>
<Channels>
  <Channel ChannelID="UCV3Nm3T-XAgVhKH9jT0ViRg" labelValue="AJ+" ></Channel>
  <Channel ChannelID="UCfiwzLy-8yKzIbsmZTzxDgw" labelValue="Al Jazeera Arabic" ></Channel>
  <Channel ChannelID="UC_yXEx3-Gk5drg9qhPzSQSg" labelValue="Al Jazeera Balkans" ></Channel>
  <Channel ChannelID="UCNye-wNBqNL5ZzHSJj3l8Bg" labelValue="Al Jazeera English" ></Channel>
  <Channel ChannelID="UCCv1Pd24oPErw5S7zJWltnQ" labelValue="Al Jazeera Mubasher" ></Channel>
  <Channel ChannelID="UC1M1X344ssYjSvjAXM0Rn2Q" labelValue="Al Jazeera Media Library" ></Channel>
  <Channel ChannelID="UCnBMtXOcBNZ05nbWDFt3HUg" labelValue="AJ The Stream" ></Channel>
  <Channel ChannelID="UC0LSnqrwqtMwl2YwfUpO66g" labelValue="Al Jazeera Documentary" ></Channel>
  <Channel ChannelID="UCnHXmyuAUm9eBR27NMDsSzQ" labelValue="Newsbroke" ></Channel>
  <Channel ChannelID="UCWxc7ue-jGlL5ypOHX_i0Bg" labelValue="Official Sadeem" ></Channel>
  <Channel ChannelID="UC-4KnPMmZzwAzW7SbVATUZQ" labelValue="AJ+ Kibreet" ></Channel>
  <Channel ChannelID="UCS0lmlVIYVz2qeWlZ_ynIWg" labelValue="AJ+ Espanol" ></Channel>
  <Channel ChannelID="UCj3FFlLxrZ0EkQScVBwrahg" labelValue="Palestine Remix" ></Channel>
  <Channel ChannelID="UCz3BkhdJSP7l8CiZNG1RKeQ" labelValue="Al Jazeera Mubasher Misr" ></Channel>
  <Channel ChannelID="UCZCLDzI4h-KnFuyOH4l3bcg" labelValue="Al Jazeera Balkans Video" ></Channel>
  <Channel ChannelID="UCd1jQ_ppmKfphnh4p39HMFg" labelValue="AJ+ French" ></Channel>
  <Channel ChannelID="UCnVGseMUtv2yFNC-dQ2JdSw" labelValue="AJ+ Arabi" ></Channel>
  <Channel ChannelID="UCEg4_mU2CqqtQxWwzL_uh-w" labelValue="AJ+ Saha" ></Channel>
  <Channel ChannelID="UCqPP4dbgr9Uddnzzuzr8qXQ" labelValue="Midan" ></Channel>
  <Channel ChannelID="UCZrN_R4ctOnp9BzmiKKyc2A" labelValue="Zoetic" ></Channel>
</Channels>